@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: black">
    <h1 class="text-left">
        <img src="~/images/logo for website 2-1148x533.png" /></h1>
    </div>